/******************************************************************
Global CSS

Z-Index Cheat Sheet:
Top layer: 
	9999999 (video and image lightbox)
Middle layer: 
	999999 (video lightbox)
	header
	fancybox

!!Remember to overlay media>lightbox>header!!


******************************************************************/

audio,canvas,video {
display:inline;
zoom:1;
}

audio:not([controls]) {
display:none;
height:0;
}

[hidden] {
display:none;
}

html {
-ms-text-size-adjust:100%;
-webkit-text-size-adjust:100%;
font-size:100%;
height:100%;
min-height:100%;
overflow-x:hidden;
overflow-y:scroll;
}

body {
background:#f0eeed;
color:#676767;
font-family:Oswald, sans-serif;
margin:0;
min-height:100%;
}

html,button,input,select,textarea {
font-family:sans-serif;
}

a:focus {
outline:thin dotted;
}

a:active,a:hover {
outline:0;
}

h1 {
font-size:2em;
margin:.67em 0;
}

h2 {
font-size:1.5em;
margin:.83em 0;
}

h3 {
font-size:1.17em;
margin:1em 0;
}

h4 {
font-size:1em;
margin:1.33em 0;
}

h5 {
font-size:.83em;
margin:1.67em 0;
}

h6 {
font-size:.75em;
margin:2.33em 0;
}

abbr[title] {
border-bottom:1px dotted;
}

b,strong {
font-weight:700;
}

blockquote {
margin:1em 40px;
}

dfn {
font-style:italic;
}

mark {
background:#ff0;
color:#000;
}

code,kbd,pre,samp {
_font-family:'courier new', monospace;
font-family:monospace, serif;
font-size:1em;
}

pre {
white-space:pre-wrap;
word-wrap:break-word;
}

q {
quotes:none;
}

q:before,q:after {
content:none;
}

small {
font-size:75%;
}

sub,sup {
font-size:75%;
line-height:0;
position:relative;
vertical-align:baseline;
}

sup {
top:-.5em;
}

sub {
bottom:-.25em;
}

dd {
margin:0 0 0 40px;
}

menu,ol,ul {
padding:0 0 0 40px;
}

nav ul,nav ol {
list-style:none;
list-style-image:none;
}

img {
-ms-interpolation-mode:bicubic;
border:0;
}

svg:not(:root) {
overflow:hidden;
}

figure {
margin:0;
}

form {
margin:34px auto;
width:375px;
}

fieldset {
border:1px solid silver;
margin:0 2px;
padding:.35em .625em .75em;
}

legend {
border:0;
margin-left:-7px;
padding:0;
white-space:normal;
}

button,input,select,textarea {
font-size:100%;
margin:0;
vertical-align:middle;
}

button,input {
line-height:normal;
}

button,html input[type="button"],/* 1 */
input[type="reset"],input[type="submit"] {
-webkit-appearance:button;
cursor:pointer;
overflow:visible;
}

button[disabled],input[disabled] {
cursor:default;
}

input[type="checkbox"],input[type="radio"] {
box-sizing:border-box;
height:13px;
padding:0;
width:13px;
}

input[type="search"] {
-moz-box-sizing:content-box;
-webkit-appearance:textfield;
-webkit-box-sizing:content-box;
box-sizing:content-box;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
-webkit-appearance:none;
}

button::-moz-focus-inner,input::-moz-focus-inner {
border:0;
padding:0;
}

textarea {
overflow:auto;
vertical-align:top;
}

table {
border-collapse:collapse;
border-spacing:0;
}

form tr {
background:#f4f3f2;
border:1px solid #CCC;
}

form table {
margin-bottom:16px;
width:375px;
}

form th {
border-right:1px solid #CCC;
padding:8px;
vertical-align:middle;
width:85px;
}

form td {
padding:15px;
}

form td select,form td input,form td textarea {
width:100%;
}

form input[type="submit"] {
-webkit-border-radius:2px;
background:#00BCF2;
border:1px solid #007EA4;
border-radius:2px;
color:#FFF;
font-size:14px;
padding:14px;
text-align:center;
text-transform:uppercase;
width:375px;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary,.lightbox ul li img {
display:block;
}

p,pre,dl,menu,ol,ul {
margin:1em 0;
}

/******************************************************************
Global wrapper, included in all pages except for header and footer
******************************************************************/

.wrapper {
margin:0 auto;
width:980px;
}

/******************************************************************
Header CSS
******************************************************************/

.header:after {
clear:both;
content:"";
display:block;
height:0;
visibility:hidden;
}

.header {
background:#00BCF2;
height: 90px;
/*This line sets the height, remove for default*/
border-bottom:5px solid #007EA4;
}

.header .branding-title {
background:url(../img/branding-title.png) 0 14px no-repeat;
color:transparent;
float:left;
font:0/0 serif;
height:77px;
margin:0 0 0 12px;
padding:14px 0;
text-shadow:none;
width:122px;
}

.header .branding-title a {
display:block;
height:77px;
width:122px;
}

.header .nav {
float:right;
left:15px;
margin:0;
position:relative;
right:0;
top:0;
z-index:99999;
}

.header .nav li {
display:inline-block;
list-style:none;
margin:0;
}

.header .nav li a {
background:url(../img/nav-sprite.png) no-repeat 0 105px;
color:#FFF;
display:block;
line-height:95px;
margin:-5px 0 0 20px;
/*original
margin:0 0 0 40px;*/
padding:0px 0 0;
/*original
padding:10px 0 0;*/
text-align:center;
text-decoration:none;
text-transform:uppercase;
white-space:nowrap;
width:90px;
}

.header .nav li.articles a {
background-position:0 0;
}

.header .nav li.contact a {
background-position:0 -105px;
}

.header .nav li.search a {
background-position:0 -419px;
}

.header .nav li.code a {
background-position:0 -528px;
}

/* enable for home image
.header .nav li.home a {
background-position:0 -216px;
}*/

.header .nav li.cart a:hover {
background-position:16px -321px;
}

#content {
background:#FFF;
min-height:400px;
}

/******************************************************************
Section banner: Crater Lake Picture
******************************************************************/

.section.banner {
background:#3d3d3d url(../img/banner-background.jpg) center center no-repeat;
height:290px; 
}

.section.banner .wrapper {
position:relative;
}

/******************************************************************
Section CSS
******************************************************************/

.section.page:after {
clear:both;
content:"";
display:block;
height:0;
visibility:hidden;
}

.section.page {
background:#FFF;
padding:34px 0;
}

.section.page h1 {
font-size:24px;
font-weight:400;
line-height:1.6;
text-align:center;
text-transform:uppercase;
}

.section.page .article-details h1 {
text-align:left;
}

.section.page p a {
margin-left:auto;
margin-right:auto;
text-decoration:none;
}

.section.page .article-details h1 .price {
color:#9d9f4e;
font-size:34px;
padding-right:10px;
}

.section.articles {
background:#fff;
padding-bottom:42px;
}

.section.articles h2 {
color:#c0bfbe;
font-size:24px;
font-weight:400;
line-height:1.6;
text-align:center;
text-transform:uppercase;
}

.section.articles ul.products {
margin:0 0 -17px;
padding:0;
width:997px;
}

.section.articles ul.products li {
-webkit-border-radius:2px;
background:#f0eeed;
border:1px solid #e3e1e0;
border-radius:2px;
display:inline-block;
left:-17px;
list-style:none;
margin:0 0 17px 17px;
padding:14px;
position:relative;
text-align:center;
vertical-align:top;
width:202px;
}

.section.articles ul.products li a:hover:after {
color:#007EA4;
content:'+';
font-size:50px;
position:absolute;
right:25px;
top:-10px;
vertical-align:top;
}

.section.articles ul.products li a {
background:#FFF;
color:#999;
display:block;
height:240px;
opacity:.9;
padding:30px 0 10px;
text-decoration:none;
}

.section.articles ul.products li a:hover {
color:#666;
opacity:1;
}

.section.articles ul.products li img {
width:190px;
}

.section.articles ul.products li p {
margin-left:0;
margin-right:0;
width:auto;
}

/******************************************************************
Articles CSS
******************************************************************/

.article-picture {
background:#f0eeed;
border:1px solid #d9d9d9;
clear:both;
padding:14px;
text-align:center;
width:100%;
}

.article-picture span {
background:#FFF;
display:block;
padding:36px 0 61px;
width:100%;
}

.article-picture img {
width:80%;
}

.article-picture p {
background:#f0eeed;
border:1px solid #d9d9d9;
clear:both;
display:inline-block;
padding:14px 0;
text-align:center;
width:100%;
}

.article-text {
clear:both;
display:inline-block;
margin:0;
width:90%;
}

.article-details {
float:right;
width:460px;
}

.article-details form {
margin-left:0;
}

/******************************************************************
Search CSS
******************************************************************/

.search form {
text-align:center;
width:auto;
}

.search form input[type="text"] {
font-size:24px;
line-height:1.5;
padding:3px;
vertical-align:top;
width:70%;
}

.search form input[type="submit"] {
vertical-align:top;
width:auto;
}

/******************************************************************
Pagination CSS
******************************************************************/

.pagination {
margin:1em 0;
text-align:right;
}

.pagination a,.pagination span {
border:1px solid #e3e1e0;
color:#676767;
display:inline-block;
padding:5px 20px;
text-decoration:none;
}

.pagination span {
background:#CCC;
border-color:#999;
color:#444;
}

.pagination a:hover {
background:#f0eeed;
}

/******************************************************************
????
******************************************************************/

.page p.message {
background:#ffeca4;
border:1px solid #007EA4;
padding:1em;
width:344px;
}

.breadcrumb {
font-family:Helvetica, Arial, sans-serif;
font-size:14px;
font-weight:400;
padding:14px 0 48px;
}

.note-designer {
font-family:Georgia, serif;
font-size:14px;
font-style:italic;
font-weight:700;
}

/******************************************************************
Footer CSS
******************************************************************/

.footer {
background:#f0eeed;
clear:both;
color:#a5a5a5;
font-family:Helvetica, Arial, sans-serif;
font-size:12px;
padding:42px 0;
}

.footer ul {
float:left;
margin:0;
padding:0;
}

.footer ul li {
display:inline-block;
list-style:none;
margin:0;
padding:0;
text-transform:lowercase;
}

.footer p {
margin:0;
padding-right:3px;
text-align:right;
}

.footer a {
color:#539def;
margin:0 2px;
text-decoration:none;
}

.footer li:first-child a {
margin-left:4px;
}

/******************************************************************
Gallery CSS
******************************************************************/

.gallery ul {
list-style-type:none;
margin:0;
padding:0;
text-align:center;
}

.gallery ul li {
background-color:#daefff;
display:inline-block;
list-style:none;
}

.gallery img {
padding:1em;
}

/******************************************************************
Contact CSS
******************************************************************/

.profile-photo {
border-radius:100%;
display:block;
margin:0 auto 30px;
max-width:150px;
}

.contact-info {
font-size:.9em;
list-style:none;
margin:0;
padding:0;
}

.contact-info a {
background-repeat:no-repeat;
background-size:20px 20px;
/*display:block;
margin:0 0 10px 30%;*/
min-height:20px;
padding:0 0 0 30px;
}

.contact-info li.phone a {
background-image:url(../img/phone.png);
}

.contact-info li.mail a {
background-image:url(../img/mail.png);
}

.contact-info li.facebook a {
background-image:url(../img/facebook.png);
}

/******************************************************************
Lightbox for image gallery
******************************************************************/

.lightbox ul {
background:#586067;
display:block;
font-family:sans-serif;
list-style:none;
margin:0 auto;
max-width:780px;
padding:0;
text-align:center;
}

.lightbox ul li {
background:#FFF;
display:inline-block;
margin:10px;
padding:8px;
}

#overlay {
background:rgba(0,0,0,0.7);
display:none;
height:100%;
left:0;
position:absolute;
text-align:center;
top:0;
width:100%;
z-index: 999999;
}

#overlay img {
margin-top:10%;
}

#overlay p {
color:#FFF;
}


/******************************************************************
Drawing app
******************************************************************/

canvas {
background:url(../../img/drawing.jpg);
border-radius:5px;
box-shadow:0 4px 0 0 #999;
cursor:url(../../img/cursor.png), crosshair;
display:block;
margin:50px auto 10px;
}

.controls {
border-radius:5px;
margin:0 auto;
min-height:60px;
overflow:hidden;
width:600px;
}

.ulControls {
float:left;
list-style:none;
margin:0;
padding:10px 0 20px;
text-align:center;
width:100%;
}

.ulControls li,#newColor {
border-radius:60px;
box-shadow:0 3px 0 0 #222;
cursor:pointer;
display:block;
height:54px;
width:54px;
}

.ulControls li {
display:inline-block;
margin:0 5px 10px;
}

.red {
background:#fc4c4f;
}

.blue {
background:#4fa3fc;
}

.yellow {
background:#ECD13F;
}

.selected {
border:4px solid #222;
height:40px;
width:40px;
}

button {
background:#68B25B;
box-shadow:0 3px 0 0 #6A845F;
color:#fff;
cursor:pointer;
display:block;
font-size:16px;
line-height:40px;
outline:none;
text-shadow:0 1px #6A845F;
}

#revealColorSelect {
border:none;
border-radius:5px;
margin:10px auto;
padding:5px 20px;
width:160px;
}

#colorSelect {
background:#fff;
border-radius:5px;
clear:both;
display:none;
margin:20px auto 0;
padding:10px;
position:relative;
width:305px;
}

#colorSelect:after {
border:solid transparent;
border-color:rgba(255,255,255,0) rgba(255,255,255,0) #fff;
border-width:10px;
bottom:100%;
content:" ";
height:0;
left:50%;
margin-left:-10px;
pointer-events:none;
position:absolute;
width:0;
}

#newColor {
border:none;
border-radius:3px;
box-shadow:none;
float:left;
height:80px;
margin:10px 20px 20px 10px;
width:80px;
}

.sliders p {
margin:8px 0;
vertical-align:middle;
}

.sliders label {
color:#6D574E;
display:inline-block;
font-size:14px;
margin:0 10px 0 0;
width:35px;
}

.sliders input {
position:relative;
top:2px;
}

#colorSelect button {
border:none;
border-radius:0 0 5px 5px;
border-top:1px solid #6A845F;
clear:both;
margin:10px -10px -7px;
padding:5px 10px;
width:325px;
}

/******************************************************************
Hover for header and footer
******************************************************************/

.header .nav li.on a,.footer a:hover,.footer a:active {
text-decoration:underline;
}

.header .nav li a:hover,.header .nav li a:active,.section.banner a:hover {
color:#007EA4;
}

/******************************************************************
Random bits and pieces (that really didn't seem to matter)
******************************************************************/

/*.section.page.search p,.lightbox h1 {
text-align:center;
}

.footer ul li:after,.footer ul li:last-child:after {
content:"";
}

.gallery ul li a,.lightbox a {
text-decoration:none;
}
*/
/******************************************************************
Fancybox for Nyan Cat, most of this can probably go
******************************************************************/

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;

}

.fancybox-skin {
	position: relative;
	/*background: #f9f9f9;*/
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;

}

.fancybox-opened {
	z-index: 1998030;

}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
	
}

.fancybox-inner {
	overflow: hidden !important;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;

}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../img/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;

}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../img/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../img/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;

}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;

}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 999999;
	background: url('../img/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

/*.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent;*/ /* Fallback for web browsers that doesn't support RGBa */
/*	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}*/

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('../img/fancybox_sprite@2x.png');
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url('../img/fancybox_loading@2x.gif');
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}